.intro {
    z-index: 10;
    margin: -25vh 10vw 30px 10vw;
    width: 80vw;
    height: 50vh;
    display: flex;
    align-items: center;
    background: #fafafa;
    flex-direction: column;
    justify-content: start;
    /* transition: all .2s ease-in-out;
    cursor: pointer; */
}
/* .intro:hover {
    transform: scale(1.05);
} */
.textCover {
    margin: 0 50px;
}
.ityped-cursor {
	font-size: 12px;
    opacity: 1;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
    animation-direction: alternate;
}
.aniText{
	font-size: 13px;
    width: 1000px;
}
@keyframes blink {
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
